[submodule "rkbin"]
	path = rkbin
	url = git@github.com:rockchip-linux/rkbin.git
	branch = master
[submodule "u-boot"]
	path = u-boot
	url = git@github.com:u-boot/u-boot.git
	branch = v2026.01
[submodule "trusted-firmware-a"]
	path = trusted-firmware-a
	url = https://github.com/TrustedFirmware-A/trusted-firmware-a
	branch = v2.14.0
